[tool.ruff]
line-length = 88
target-version = "py312"

[tool.ruff.lint]
select = [
  "F",              # Pyflakes
  "E4", "E7", "E9", # pycodestyle errors (subset compatible with Black)
  # The entries below are not part of Ruff's default rule selection.
  "I",              # isort
]
ignore = []

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
